.conteinerLogin{
    border: solid 1px black;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.conteinerForm{
    margin: 0 10px; 

}

.btnLogin{
    margin-bottom: 10px;
}

@media(max-width:400px){
    .conteinerLogin{
        width: 90%;
    }
}